<!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
      <div class="loader">
          <svg class="circular" viewBox="25 25 50 50">
              <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
          </svg>
      </div>
  </div>
  <!--*******************
      Preloader end
  ********************-->





  <div class="login-form-bg h-100">
      <div class="container h-100">
          <div class="row justify-content-center h-100">
              <div class="col-xl-6">
                  <div class="form-input-content">
                      <div class="card login-form mb-0">
                          <div class="card-body pt-5">
                              <a class="text-center" href="index.html"> <h4>Admin ShopJM</h4></a>

                              <form class="mt-5 mb-5 login-input" [formGroup]="frmLogin" (ngSubmit)="Login(frmLogin.value)">
                                  <div *ngIf="taikhoan.invalid && (taikhoan.dirty || taikhoan.touched)">
                                  <span style="color:red ;" *ngIf="taikhoan.errors?.['required']">Tài khoản không được rỗng</span>
                                  </div>
                                  <div class="form-group">
                                      <input  formControlName="txt_taikhoan" type="text" class="form-control" placeholder="Tài khoản" ngModel>
                                  </div>

                                  <div *ngIf="matkhau.invalid && (matkhau.dirty || matkhau.touched)">
                                    <span style="color:red ;" *ngIf="matkhau.errors?.['required']">Mật khẩu không được rỗng</span>
                                  </div>
                                  <div class="form-group">
                                      <input formControlName="txt_matkhau" type="password" class="form-control" placeholder="Mật khẩu" ngModel>
                                  </div>
                                  <button class="btn login-form__btn submit w-100">Đăng nhập</button>
                              </form>
                              <p class="mt-5 login-form__footer">Dont have account? <a href="page-register.html" class="text-primary">Đăng ký</a> now</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
