<!--**********************************
            Sidebar start
        ***********************************-->
        <div class="nk-sidebar">
          <div class="nk-nav-scroll">
              <ul class="metismenu" id="menu">
                  <li class="nav-label">Dashboard</li>
                  <li>
                      <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                          <i class="icon-speedometer menu-icon"></i><span class="nav-text">Dashboard</span>
                      </a>

                  </li>

    <!-- ***********Quản lý người dùng******** -->

                  <li >
                    <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                        <i class="icon-user menu-icon"></i> <span [routerLink]="['hrm']" class="nav-text">Quản lý người dùng</span>
                    </a>


                </li>

                  <!--******* Quản lý sản phẩm******** -->

                  <li class="mega-menu mega-menu-sm">
                      <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                          <i class="ti-desktop menu-icon"></i><span [routerLink]="['sanpham']" class="nav-text">Quản lý sản phẩm</span>
                      </a>
                      <ul aria-expanded="false">
                          <!-- <li><a href="./layout-blank.html">Blank</a></li>
                          <li><a href="./layout-one-column.html">One Column</a></li> -->

                      </ul>
                  </li>
                   <!--******** Quản lý đơn hàng********** -->

                   <li>
                    <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                        <i class="ti-shopping-cart-full"></i><span [routerLink]="['order']" class="nav-text">Quản lý đơn đặt hàng</span>
                    </a>

                  </li>
                  <!--******* Quản lý danh mục********* -->

                  <li>
                      <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                          <i class="ti-folder menu-icon"></i> <span [routerLink]="['danhmuc']" class="nav-text">Quản lý danh mục</span>
                      </a>
                      <ul aria-expanded="false">
                          <li><a href="./email-inbox.html">Inbox</a></li>
                          <li><a href="./email-read.html">Read</a></li>
                          <li><a href="./email-compose.html">Compose</a></li>
                      </ul>
                  </li>

                  <!--******** Quản lý nhà sản xuất********** -->

                  <li>
                      <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                          <i class="ti-home menu-icon"></i><span [routerLink]="['nhasanxuat']" class="nav-text">Quản lý nhà sản xuất</span>
                      </a>
                      <ul aria-expanded="false">
                          <li><a href="./app-profile.html">Profile</a></li>
                          <li><a href="./app-calender.html">Calender</a></li>
                      </ul>
                  </li>



                  <!--******** Quản lý nhà cung cấp********** -->

                  <!-- <li>
                    <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                        <i class="ti-home menu-icon"></i><span class="nav-text">Quản lý nhà cung cấp</span>
                    </a>

                  </li> -->

                  <!--******** Quản lý kho hàng********** -->

                  <!-- <li>
                    <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                        <i class="ti-home menu-icon"></i><span class="nav-text">Quản lý kho hàng</span>
                    </a>

                  </li> -->



              </ul>
          </div>
      </div>
      <!--**********************************
          Sidebar end
      ***********************************-->

